<h2>Cart items:</h2>

<div id="cart">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% sum_price =0 %>
    <% qty = 0 %>
    <% @items.each.with_index(1) do |item, i| %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= item[0].title %></td>
      <td><%= item[0].description %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
    <% sum_price = sum_price + item[0].price.to_i * item[1].to_i %>
    <% qty += item[1].to_i %>
    <% end %>

    <tr>
      <td><strong>Quantity:</strong></td>
      <td><%= qty %> pizza(s)</td>
    </tr>
     <tr>
      <td><strong>Total sum:</strong></td>
      <td><%= sum_price %> ruble(s)</td>
    </tr>

</table>

<form action="/order" method="POST" role="form">

  <input name="order[orders_input]" type="hidden" value="<%= @orders_input %>"/>
  
  <div class="form-group">
    <label>Name:</label>
    <input name="order[name]" type="text" class="form-control" placeholder="Your name" value="<%=@new_order.name%>">
  </div>

  <div class="form-group">
    <label>Phone:</label>
    <input name="order[phone]" type="text" class="form-control" placeholder="Your phone" value="<%=@new_order.phone%>">
  </div>

  <div class="form-group">
    <label>Address:</label>
    <input name="order[address]" type="text" class="form-control" placeholder="Delivery address" value="<%=@new_order.address%>">
  </div>

  <button type="submit" class="btn btn-success btn-lg">Submit order</button>
  <button class="btn btn-danger btn-lg" onclick="return cancel_order()">Cancel order</button>
</form>
</div>
