<h2>Cart items:</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% sum_price =0 %>
    <% qty = 0 %>
    <% @items.each.with_index(1) do |item, i| %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%= item[0].title %></td>
      <td><%= item[0].description %></td>
      <td><%= item[0].price %></td>
      <td><%= item[1] %></td>
    </tr>
    <% sum_price = sum_price + item[0].price.to_i * item[1].to_i %>
    <% qty += item[1].to_i %>
    <% end %>

    <tr>
      <td><strong>Sum:</strong></td>
      <td><%= sum_price %> руб.</td>
    </tr>
    <tr>
      <td><strong>Quantity:</strong></td>
      <td><%= qty %></td>
    </tr>
</table>

<form action="/order" method="POST" role="form">

  <div class="form-group">
    <label>Name:</label>
    <input name="username" type="text" class="form-control" placeholder="Your naem" value="<%=@username%>">
  </div>

  <div class="form-group">
    <label>Phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Your phone" value="<%=@phone%>">
  </div>

  <div class="form-group">
    <label>Address:</label>
    <input name="datetime" type="text" class="form-control" placeholder="Delivery address" value="<%=@datetime%>">
  </div>

  <button type="submit" class="btn btn-success">Submit order</button>
</form>
